/* .card_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 4rem;
}


.card_container *{
    margin: 1rem;
    margin-left: 0;
}
*/


.card_container > h3{
    color: var(--color-orange-one);
    margin-bottom: 2rem;
} 


.card_container > img{
    width: 60%;
    margin-bottom: 2rem;
    border-radius: 4rem;
}

.card_container{
    margin-top: 4rem;
    width: 400px;
    padding: 2rem 3rem;
    border: 1px solid var(--color-orange-one);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.card_container:hover{
    background: #d9ff000c;
}

.card_container > p{
    margin-bottom: 2rem;
}

.related_buttons *{
    margin: 0 0rem;
}