.icons_container{
    display:grid;
    grid-template-columns: repeat(8, 4fr);
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
}
.tech_card
{
    
    height: 120px;
    border-radius: 30%;
    background-color: #ffffff20;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    transition: var(--transition);
}

.tech_card:hover{
    background-color: #ffffffa3;
    color: black;
}

.tech_section{
    height: fit-content;
    padding-bottom: 25rem;
}

.tech_section > h2{
    margin-bottom: 4rem;
}

.plastic_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}